@using WebApi.Models
@model UserrViewModel
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>SimpleAdmin - Responsive Admin Dashboard Template</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
        <meta content="Coderthemes" name="author" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />

        <!-- App favicon -->
        <link rel="shortcut icon" href="~/adminn/assets/images/favicon.ico">

        <!-- App css -->
        <link href="~/adminn/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="~/adminn/assets/css/icons.css" rel="stylesheet" type="text/css" />
        <link href="~/adminn/assets/css/metismenu.min.css" rel="stylesheet" type="text/css" />
        <link href="~/adminn/assets/css/style.css" rel="stylesheet" type="text/css" />

        <script src="~/adminn/assets/js/modernizr.min.js"></script>

    </head>


    <body style="background-color:darkorange">

        <section>
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">

                        <div class="wrapper-page">

                            <div class="m-t-40 card-box">
                                @using (Html.BeginForm("Index","Home"))
                            {
                                <button class="btn btn-dark">GERİ</button>
                            }
                                <div class="text-center">
                                    <h2 class="text-uppercase m-t-0 m-b-30">
                                        <a href="index.html" class="text-success">
                                            <span><img src="~/cinemahtml/images/yellowticket.jpg" alt="" height="30"></span>
                                        </a>
                                    </h2>
                                    <!--<h4 class="text-uppercase font-bold m-b-0">Sign In</h4>-->
                                </div>
                                <div class="account-content">
                                    <form class="form-horizontal" asp-controller="Accounts" asp-action="SignIn" method="post">
                                        <span class="alert-danger m-b-5">
                                        @Html.ValidationMessage("Hata1")
                                    </span>
                                        <div class="form-group m-b-20">
                                            <div class="col-12">
                                                <label for="emailaddress">E-posta Adresi</label>
                                                <input class="form-control" type="email" name="Emaill" id="emailaddress" required="" placeholder="ali@hotmail.com" value=@Model.Emaill>
                                                <span asp-validation-for="@Model.Emaill" class="text-danger"></span>
                                            </div>
                                        </div>

                                        <div class="form-group m-b-20">
                                            <div class="col-12">
                                                <a asp-controller="Accounts" asp-action="ResetPassword" class="text-muted pull-right font-14">Şifreni mi unuttun?</a>
                                                <label for="Passwordd">Şifre</label>
                                                <input class="form-control" type="Password" name="Passwordd" required="" id="password" placeholder="Şifre giriniz">
                                                <span asp-validation-for="@Model.Passwordd" class="text-danger"></span>
                                            </div>
                                        </div>

                                        <div class="form-group m-b-30">
                                            <div class="col-12">
                                                <div class="checkbox checkbox-primary">
                                                    <input id="checkbox5" type="checkbox">
                                                    <label for="checkbox5">
                                                        Beni hatırla 
                                                    </label>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group account-btn text-center m-t-10">
                                            <div class="col-12">
                                                <button class="btn btn-lg btn-primary btn-block bg-success" type="submit">Giriş</button>
                                            </div>
                                        </div>

                                    </form>

                                    <div class="clearfix"></div>

                                </div>
                            </div>
                            <!-- end card-box-->


                            <div class="row m-t-50">
                                <div class="col-sm-12 text-center">
                                    <p class="text-muted">Hesabınız yok mu? <a asp-controller="Accounts" asp-action="SignUp" class="text-dark m-l-5">Kaydol</a></p>
                                </div>
                            </div>

                        </div>
                        <!-- end wrapper -->

                    </div>
                </div>
            </div>
        </section>


        <!-- jQuery  -->
        <script src="~/adminn/assets/js/jquery.min.js"></script>
        <script src="~/adminn/assets/js/popper.min.js"></script>
        <script src="~/adminn/assets/js/bootstrap.min.js"></script>
        <script src="~/adminn/assets/js/metisMenu.min.js"></script>
        <script src="~/adminn/assets/js/waves.js"></script>
        <script src="~/adminn/assets/js/jquery.slimscroll.js"></script>

        <!-- App js -->
        <script src="~/adminn/assets/js/jquery.core.js"></script>
        <script src="~/adminn/assets/js/jquery.app.js"></script>

    </body>
</html>
