@using WebApi.Models
@{
    ViewData["Title"] = "Price Add";
}

<form action="/Prices/Save" method="post">
    @{ if (ViewBag.message != null)
        {
            <div class="alert alert-danger">@ViewBag.message</div>
        }
    } 
    <div class="mb-3">
        <label class="form-label">Price</label>
        <input type="text" name="MoviePrice" class="form-control">
    </div>
    <button type="submit" class="btn btn-success  col-md-3">Add</button>
</form>
