@{
    ViewData["Title"] = "Price Update";
}
<form action="/Prices/Save" method="post">
    @{ if (ViewBag.message != null)
    {
    <div class="alert alert-danger">@ViewBag.message</div>
    }
    }
    <div class="mb-3">
        <label class="form-label">Price</label>
        <input type="text" name="Value" class="form-control" value="@ViewBag.price.Value">
    </div>
    <input type="hidden" name="Id" value="@ViewBag.price.Id">
    <button type="submit" class="btn btn-success  col-md-3">Update</button>
</form>